<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 设置别名 -->
    <typeAliases>
        <package name="cn.main.entity"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/blog?useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false"/>
                <property name="username" value=""/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="cn/main/mapper/Article.xml"/>
        <mapper resource="cn/main/mapper/Test.xml" />
        <mapper resource="cn/main/mapper/PersonSign.xml" />
        <mapper resource="cn/main/mapper/ArticleType.xml" />
        <mapper resource="cn/main/mapper/User.xml" />
        <mapper resource="cn/main/mapper/Visit.xml" />
    </mappers>
</configuration>